/*Main CSS for Wildcard 2015 Theme */
/* Wildcard Blue : #00A99E */
/* Wildcard Green : #8DC540 */

/* ### START OF MOBILE LAYOUT ### */

body {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ddd;
}

a:hover {
	text-decoration: none;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.navbar-toggle, .navbar-toggle:hover {
	background-color: none;
	border: none;
}

.navbar-brand {
	padding: 5px;
}

.navbar-brand img {
	height: 40px;
}

/* For Featured/Latest Article (mobile) */
.featured {
	display: inline-block;
}

.latest {
	display: none;
}

.article-tags {
	margin: 10px;
	margin-top: 0px;
}

/* For Divider */
.divider {
	text-align: center;
}

/* For Article Cards */
.article-card {
	margin: 20px 0px;
	/*border: 1px solid #111;*/
	position: relative;
	/*background-color: #fff;*/
	background-image: url("../img/bg.png");
	box-shadow: 0px 5px 2.5px #aaa;
	border-radius: 10px;
}

.article-card .article-header .article-timestamp {
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 2;
	color: #666;
}

.article-card .article-header .article-timestamp:hover {
	color: #333;
}

.article-card .article-header > img {
	margin: 0 auto;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.article-card .article-header .title {
	margin-top: -45px;
	margin-left: 10px;
	font-weight: bold;
}

.article-card .article-body {
	padding: 2.5px 10px;
	background-color: #bbb;
}

.article-card .article-body .author {
	margin-top: 5px;
	color: #666;
}

.article-card .article-body > p {
	text-indent: 25px;
	margin-right: 15px;
	text-align: justify;
}

.article-footer {
	padding: 10px 0px;
}

/* For Footer */
.footer {
	text-align: center;
	background-color: #fff;
	padding: 10px 0px 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* ### START OF SMALL DEVICES LAYOUT ### */
@media (min-width: 768px) {
	.main-header {
		padding: 10px;
		width: 100%;
	}

	.main-header > img {
		margin: 10px 15%;
		width: 500px;
	}

	/* For Featured Articles Slider */
	#featured > li {
		height: 250px;
		position: relative;
	}

	#featured > li > img {
		width: 100%;
		height: auto;
	}

	#featured .featured-content {
		position: absolute;
		margin: 15px;
		bottom: 30px;
		padding: 0px 35px;
		opacity: 1;
		color: #000;
		z-index: 6;
	}

	.articles {
		margin-left: 0px;
		margin-right: 0px;
	}

	#featured .featured-content .title {
		font-weight: bold;
		margin-bottom: 0px;
	}

	#featured .featured-content .author {
		margin: 2.5px 0px 10px;
	}

	#featured .featured-content .button {
		text-align: center;
	}

	/* For Sidebar */
	.sidebar {
		margin-top: 15px;
		padding: 10px;
		border: 1px solid #000;
	}

	.sidebar .header {
		text-align: center;
		font-weight: bold;
		margin-top: 5px;
	}

	.sidebar .article-divider {
		border-bottom: 1px solid #666;
	}

	#popular-articles .article-preview {
		margin-top: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	#popular-articles .article-preview > img {
		width: 50%;
		height: auto;
		margin-right: 10px;
	}

	#popular-articles .article-preview > h3 {
		margin-top: 5px;
		flex-grow: 1;
		flex-basis: 0;
	}

	#popular-articles .article-preview > h5 {
		flex-basis: 100%;
		margin-top: 5px;
	}

	/* ---- REMOVE WHEN NOT IN DEVELOPMENT ANYMORE ---- */
	.sidebar .placeholder {
		width: 60px;
		height: 60px;
	}

	#facebook {
		background-color: blue;
	}

	#twitter {
		background-color: cyan;
	}

	#instagram {
		background-color: brown;
	}

	#askfm {
		background-color: darkblue;
	}
	/* ----- UP UNTIL HERE --------- */

	#social-media .links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	/* change to img when placeholders are not applicable anymore */
	#social-media .placeholder {
		margin: 5px;
	}

	
}

/* ### START OF DESKOP LAYOUT ### */
@media (min-width: 992px) {
	.main-header {
		background-color: green;
	}
}

/* ### START OF LARGE DESKTOP LAYOUT ### */
@media (min-width: 1200px) {
	.main-header {
		background-color: blue;
	}
}