/* ### START OF SMALL DEVICES LAYOUT ### */
@media (min-width: 768px) {
	.article-card {
		/*width: 50%;*/
		margin: 25px 20px;
	}

	.search {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-align-content: flex-start;
		    -ms-flex-line-pack: start;
		        align-content: flex-start;
	}
}